---
layout: default
---
<!-- page.html -->
        <div class="post" style="margin-bottom: 1em;">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            {%- if page.img %}
            <div class="card hoverable thumbnail">
            {%- include figure.html
              path=page.img -%}
            </div>
            {%- endif %}
          </header>

          <article>
            {{ content }}
          </article>

          {%- if page.related_publications != null and page.related_publications.size > 0 -%}
          {% assign publications = page.related_publications | replace: ", ", "," | split: "," | join: "|" %}
          <h2>References</h2>
          <div class="publications">
            {% bibliography -f {{ site.scholar.bibliography }} -q @*[key^={{ publications }}]* %}
          </div>
          {%- endif %}

          {%- if site.giscus.repo and page.giscus_comments -%}
            {% include giscus.html %}
          {%- endif -%}
        </div>

        {%- if page.img2 %}
        <div class="card hoverable thumbnail">
        {%- include figure.html
          path=page.img2 -%}
        </div>
        {%- endif %}
